* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  margin: 0px auto;
  background-color: #ccccff;
  width: 80%;
}
a:link {
  text-decoration: none;
  color: black;
  font-weight: 600;
  font-size: 18px;
}

.column-container {
  display: flex;

  align-items: flex-start;
  margin: 0px auto;
  width: 80%;
}

.nav-bar {
  margin-right: 20px;
}
.logo-title {
  margin-left: 20px;
}

.content-container {
  width: 80%;
  margin: 0px auto;
}

.Footer-edit {
  background-color: #ccccff;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
}

h1 {
  font-size: 26px;
  text-transform: uppercase;
  font-style: italic;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 20px;

  text-transform: uppercase;
  text-align: center;
}

p {
  font-size: 22px;

  line-height: 1.5;
}

li {
  font-size: 20px;
  list-style: none;
}
